<html>

<head>
  <title>
    <%= @resortTitle %>
  </title>
</head>

<body>

<% 4.times do |index|  %><% event = @events[index] %>
<table align="left" border="0" cellpadding="0" cellspacing="0" class="w100pc" style="width:295px;height:295px;margin-right:5px;margin-bottom:5px;padding-right:5px;padding-bottom:5px;" width="285">
                       <tbody>
                            <tr>
                              <td align="center" valign="top" bgcolor="#ffffff"><a href="#" name="hyperlink15" target="_blank" xt="SPCLICK"><a href="#" name="hyperlink15" target="_blank" xt="SPCLICK"><img alt="" border="0"   src="https://www.winterparkresort.com<%=  event['ImageLink'] %>" style="display:block;" width="295" height="130" xt="SPIMAGE" /></a></td>
                            </tr>
                            <tr>
                              <td height="15" style="line-height:15px; font-size:15px;" bgcolor="#ffffff">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:22px;color:#000000;font-weight:bold;" valign="top" bgcolor="#ffffff"><%= event['Title'] %></td>
                            </tr>
                            <tr>
                              <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;line-height:20px; color:#000000;" valign="top" bgcolor="#ffffff"><%= DateTime.parse(event['StartDate']).strftime('%A %b %e %I:%M:%S %p')  %></td>
                            </tr>
                            <tr>
                              <td align="center" valign="top" bgcolor="#ffffff"><table align="center" border="0" cellpadding="0" cellspacing="0" width="125" >
                                  <tbody>
                                    <tr>
                                      <td align="center" height="35" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#000000;font-weight:bold; border:2px solid #b4922f; " valign="middle"><a href="#" name="fullreport" style="text-decoration:none;display:block;line-height:35px;color:#000000;" target="_blank" xt="SPCLICK">Learn More</a></td>
                                      <td align="center" height="35" style="font-family:Arial, Helvetica, sans-serif; font-size:16px;color:#b4922f;font-weight:bold; border:2px solid #b4922f; background-color:#b4922f;" valign="middle" width="30"><a href="#" name="fullreport2" style="text-decoration:none;display:block;line-height:35px;color:#000000;" target="_blank" xt="SPCLICK">&gt;</a></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table>

<% end %>



</body>

</html>