<html>
  <head>
      <title>Exchange Rate Widget</title>
      
      <style type="text/css">
        @font-face {
          font-family: 'Stag Bold';
          src: url('fonts/Stag-Semibold.otf');
        }

      </style>


  </head>

  <body>
     CA Flag <span style="font-family: 'Stag Bold';font-size: 35px; display:block">$<%= @cad_price %></span>
    US Flag<span style="font-family: 'Stag Bold';font-size: 35px; display:block">$<%= @usd_rate %></span>
    as of: <%= @time %>
    
  

  </body>
</html>