<html>
  <head>
    <title>Embeded Email Widgets</title>
  </head>
  <body>
    <span style="font-size: 30px; display:block">$<%= @usd_rate %></span>
    as of: <%= @time %>
    
  

  </body>
</html>