<html>
  <head>
      <title>Exchange Rate Widget</title>
      
      <style type="text/css">
        @font-face {
          font-family: 'Stag';
          src: url('fonts/Stag-Semibold.otf');
        }

        body {
          background-color: #ccc;
        }

        .sup {
          font-size: 70%;
          position: relative;
          bottom: 0.3em;
        }

      </style>


  </head>

  <body>
    <table>
      <tr>
        <td>
            <img src="/images/Canada.png" height="80">
            <br /><span style="font-family: 'Stag';font-size: 35px; "><span class="sup">$</span><%= @cad_price %></span>
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;
        </td>
        <td> 
            <img src="/images/US.jpg" height="80">
            <br><span style="font-family: 'Stag';font-size: 35px;"><span class="sup">$</span><%= @usd_rate %></span>
        </td>
      </tr>
    </table>
    <br />Updated at: <%= @time %>
    
  

  </body>
</html>